<%= render "shared/form_errors", model: @expense %>
<%= form_with model: @expense, url: @form_path do |f| %>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.select :expense_category_id, @expense_categories %>
  </div>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
