<div class="card max-w-96 mx-auto md:mx-0">
  <%= render "shared/form_errors", model: @expense %>
  <%= form_with model: @expense, url: @form_path, class: "form" do |f| %>
      <% if @expense_categories.empty? %>
        <div class="warning">
          <span><%= t("views.transactions.forms.warnings.create_category") %></span>
        </div>
        <%= render "add_category_expense_form" %>
      <% else %>
        <div class="group">
          <%= f.label :expense_category_id, t("views.transactions.forms.category") %>
          <%= f.select :expense_category_id, @expense_categories %>
          <%= render "add_category_expense_form" %>
        </div>
      <% end %>
    <div class="group">
      <%= f.label :description, t("views.transactions.forms.description") %>
      <%= f.text_area :description, placeholder: t("views.forms.textarea_placeholder") %>
    </div>
    <div class="group">
      <%= f.label :amount, t("views.transactions.forms.amount") %>
      <%= f.number_field :amount, min: 1.0, step: 0.01, placeholder: 0.0 %>
    </div>
    <div class="submit">
      <% if action_name == 'new' || action_name == 'create' %>
        <%= f.submit t("views.forms.create") %>
      <% end %>

      <% if action_name == 'edit' || action_name == 'update' %>
        <%= f.submit t("views.forms.update") %>
      <% end %>
    </div>
  <% end %>
</div>
