<section>
  <h2 class="title mb-5 text-center"><%= @budget_period.display_period_full('/') %></h2>
  <div class="mb-10">
    <%= render "shared/breadcrumb_navigation", breadcrumbs: categories_chart_breadcrum(@budget_period) %>
  </div>
  <div class="mb-5 mx-0 md:mx-20 card overflow-x-hidden">
    <div class="p-5 lg:grid grid-cols-12">
      <ul class="mb-10 lg:mb-0 col-span-8">
        <% @categories_data.each_with_index do |category, index| %>
          <li class="grid grid-cols-12 gap-1 items-start">
            <div class="col-span-1">
              <span style="background-color: <%= @colors[index] %>;" class="w-4 h-4 inline-block rounded-sm"></span>
            </div>
            <div class="grid grid-cols-2 items-center gap-5 col-span-11">
              <span><%= category[0].truncate(25) %></span>
              <span class="text-rose-600"><%= currency(category[1]) %></span>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="overflow-auto col-span-4">
        <%= pie_chart @categories_data, legend: :top, colors: @colors, prefix: t("views.charts.prefix"), thousands: t("views.charts.thousands"), decimal: t("views.charts.decimal") %>
      </div>
    </div>
  </div>
</section>
