<tr>
  <td title="<%= t("views.expense_categories.table.edit_category") %>" class="text-center">
    <%= link_to edit_expense_category_path(data[:category]), data: { turbo: false } do %>
      <%= image_tag "pencil.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
  <td title="<%= data[:category].name %>"><%= data[:category].name %></td>
  <td title="<%= data[:category].color %>">
    <span class="block w-10 h-4 rounded-md" style="background-color: <%= data[:category].color %>;"></span>
  </td>
  <td title="<%= t("views.expense_categories.table.delete_category") %>">
    <%= button_to expense_category_path(data[:category]), method: :delete, data: { turbo: false } do %>
      <%= image_tag "bin.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
</tr>
