<div class="card">
  <%= render "shared/form_errors", model: @category %>
  <%= form_with model: @category, class: "form" do |f| %>
    <% unless @redirect_path.nil? %>
      <%= hidden_field_tag 'redirect_path', @redirect_path %>
    <% end %>
    <div class="group">
      <%= f.label :name, t("views.expense_categories.forms.name") %>
      <%= f.text_field :name %>
    </div>
    <div class="group">
      <%= f.label :color, t("views.expense_categories.forms.color") %>
      <%= f.color_field :color %>
    </div>
    <div class="submit">
      <%= f.submit action_name == 'new' ? t("views.forms.create") : t("views.forms.update") %>
    </div>
  <% end %>
</div>
