<%= render "shared/form_errors", model: @category %>
<%= form_with model: @category do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :color %>
    <%= f.color_field :color %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
