<div class="card max-w-96 mx-auto md:mx-0">
  <%= render "shared/form_errors", model: @todo_task %>
  <%= form_with model: [@todo_list, @todo_task], class: "form" do |f| %>
    <% if @todo_list.categorized? %>
      <% if @todo_categories.empty? %>
        <div class="warning">
          <span><%= t("views.todo_tasks.forms.warnings.create_category") %></span>
        </div>
        <%= render "add_todo_category_link" %>
      <% else %>
        <div>
          <%= f.label :todo_category_id %>
          <%= f.select :todo_category_id, @todo_categories %>
          <%= render "add_todo_category_link" %>
        </div>
      <% end %>
    <% end %>
    <div class="group">
      <%= f.label :description, t("views.todo_tasks.forms.description") %>
      <%= f.text_area :description, placeholder: t("views.forms.textarea_placeholder") %>
    </div>
    <% if @todo_list.prioritized? %>
      <div class="group">
        <%= f.label :priority %>
        <fieldset class="radio-buttons">
          <div class="radio-group">
            <%= f.radio_button :priority, :low %>
            <%= f.label :low, t("views.todo_tasks.forms.low") %>
          </div>
          <div class="radio-group">
            <%= f.radio_button :priority, :medium %>
            <%= f.label :medium, t("views.todo_tasks.forms.medium") %>
          </div>
          <div class="radio-group">
            <%= f.radio_button :priority, :high %>
            <%= f.label :high, t("views.todo_tasks.forms.high") %>
          </div>
        </fieldset>
      </div>
    <% end %>
    <div class="submit">
      <% if action_name == 'new' || action_name == 'create' %>
        <%= f.submit t("views.forms.create") %>
      <% end %>

      <% if action_name == 'edit' || action_name == 'update' %>
        <%= f.submit t("views.forms.update") %>
      <% end %>
    </div>
  <% end %>
</div>
