<tr>
  <td title="<%= t("views.todo_lists.table.edit") %>">
    <%= link_to edit_todo_list_todo_task_path(data[:todo_list], data[:task]), data: { turbo: false } do %>
      <%= image_tag "pencil.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
  <td title="<%= data[:task].done ? t("views.todo_lists.table.is_done") : t("views.todo_lists.table.not_done") %>">
    <%= data[:task].done %>
  </td>
  <td title="<%= data[:task].description %>">
    <%= data[:task].description %>
  </td>
  <% if data[:todo_list].prioritized %>
    <% if data[:task].default? %>
      <td title="<%= t("views.todo_lists.table.#{data[:task].priority}") %>" class="text-slate-400">
        <%= t("views.todo_lists.table.#{data[:task].priority}") %>
      </td>
    <% end %>
    <% if data[:task].low? %>
      <td title="<%= t("views.todo_lists.table.#{data[:task].priority}") %>" class="text-green-500">
        <%= t("views.todo_lists.table.#{data[:task].priority}") %>
      </td>
    <% end %>
    <% if data[:task].medium? %>
      <td title="<%= t("views.todo_lists.table.#{data[:task].priority}") %>" class="text-amber-500">
        <%= t("views.todo_lists.table.#{data[:task].priority}") %>
      </td>
    <% end %>
    <% if data[:task].high? %>
      <td title="<%= t("views.todo_lists.table.#{data[:task].priority}") %>" class="text-rose-500">
        <%= t("views.todo_lists.table.#{data[:task].priority}") %>
      </td>
    <% end %>
  <% end %>
  <% if data[:todo_list].categorized %>
    <td title="<%= data[:task].todo_category.default? ? t("views.todo_lists.table.default_category") : data[:task].todo_category.name %>">
      <% if data[:task].todo_category.default? %>
        <span class="text-slate-400"><%= t("views.todo_lists.table.default_category") %></span>
      <% else %>
        <span style="color: <%= data[:task].todo_category.color %>;"><%= data[:task].todo_category.name %></span>
      <% end %>
    </td>
  <% end %>
  <td title="<%= data[:task].created_at.strftime('%B %d, %Y %I:%M %p') %>" class="italic text-slate-500">
    <%= data[:task].created_at.strftime('%B %d, %Y') %>
  </td>
  <td title="<%= t("views.todo_lists.table.delete_task") %>">
    <%= button_to todo_list_todo_task_path(data[:todo_list], data[:task]), method: :delete, data: { turbo: false } do %>
      <%= image_tag "bin.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
</tr>
