<div>
  <h4 class="mb-5 text-center text-xl text-rose-600 font-bold"><%= t("views.users.delete.delete_account") %></h4>
  <div class="px-5">
    <p><%= t("views.users.delete.text_1") %></p>
    <p><%= t("views.users.delete.text_2") %></p>
  </div>
  <div class="mt-10 flex items-center justify-end gap-5">
    <%= button_to t("views.users.delete.cancel"), settings_path, method: :get, data: { turbo_stream: true }, class: "cancel-button" %>
    <%= button_to t("views.users.delete.delete"), destroy_user_path, method: :delete, data: { turbo: false }, class: "destroy-button" %>
  </div>
</div>
