<tr>
  <td class="text-center">
    <%= link_to edit_budget_expense_transaction_path(@budget_period.uid, record) do %>
      <%= image_tag "pencil.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
  <td><%= record.description %></td>
  <td>
    <% if record.expense_category.default? %>
      <span class="text-slate-400">No category</span>
    <% else %>
      <span style="color: <%= record.expense_category.color %>;"><%= record.expense_category.name %></span>
    <% end %>
  </td>
  <td class="text-rose-600 number"><%= number_to_currency(record.amount) %></td>
  <td class="italic text-slate-500"><%= record.created_at.strftime('%A %d') %></td>
  <td class="text-center">
    <%= button_to budget_expense_transaction_path(@budget_period.uid, record), method: :delete do %>
      <%= image_tag "bin.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
</tr>
