<%= render "shared/form_errors", model: @income %>
<%= form_with model: @income, url: @form_path do |f| %>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, min: 0.01, step: 0.01 %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
