<tr>
  <td title="<%= t("views.budget_periods.table.more") %>">
    <%= link_to budget_period_path(data[:budget_period].uid), data: { turbo: false } do %>
      <%= image_tag "magnifying-glass.svg", alt: t("views.budget_periods.table.more"), class: "w-5" %>
    <% end %>
  </td>
  <td
    title="<%= data[:budget_period].display_period_full(' ') %>"
    class="italic text-slate-500">
      <%= data[:budget_period].display_period_short('/') %>
  </td>
  <td
    title="<%= t("views.budget_periods.balance") %>: <%= number_to_currency(data[:budget_period].balance) %>"
    class="<%= data[:budget_period].balance.positive? ? 'text-green-600' : data[:budget_period].balance.zero? ? 'text-slate-500' : 'text-rose-500' %> number" style="background-color: #e2e8f0;">
    <%= number_to_currency(data[:budget_period].balance) %>
  </td>
  <td
    title="<%= t("views.budget_periods.total_income_full") %>: <%= number_to_currency(data[:budget_period].total_income) %>"
    class="text-green-600 number">
      <%= number_to_currency(data[:budget_period].total_income) %>
  </td>
  <td
    title="<%= t("views.budget_periods.total_expenses_full") %>: <%= number_to_currency(data[:budget_period].total_expenses) %>"
    class="text-rose-600 number">
      <%= number_to_currency(data[:budget_period].total_expenses) %>
  </td>
  <td
    title="<%= t("views.budget_periods.transaction_count_full") %>: <%= data[:budget_period].transaction_count %>"
    class="number">
      <%= data[:budget_period].transaction_count %>
  </td>
  <td
    title="<%= t("views.budget_periods.income_count_full") %>: <%= data[:budget_period].income_count %>"
    class="number"><%= data[:budget_period].income_count %>
  </td>
  <td
    title="<%= t("views.budget_periods.expense_count_full") %>: <%= data[:budget_period].expense_count %>"
    class="number">
      <%= data[:budget_period].expense_count %>
  </td>
</tr>
