<tr>
  <td title="<%= t("views.budget_periods.table.edit_expense") %>" class="text-center">
    <%= link_to edit_budget_expense_transaction_path(data[:budget_period].uid, data[:expense]), data: { turbo: false } do %>
      <%= image_tag "pencil.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
  <td title="<%= data[:expense].description %>"><%= data[:expense].description %></td>
  <td title="<%= data[:expense].expense_category.default? ? t("views.budget_periods.table.no_category") : data[:expense].expense_category.name %>">
    <% if data[:expense].expense_category.default? %>
      <span class="text-slate-400"><%= t("views.budget_periods.table.no_category") %></span>
    <% else %>
      <span style="color: <%= data[:expense].expense_category.color %>;"><%= data[:expense].expense_category.name %></span>
    <% end %>
  </td>
  <td
    title="<%= t("views.budget_periods.table.expense_amount") %>: <%= currency(data[:expense].amount) %>"
    class="text-rose-600 number">
      <%= currency(data[:expense].amount) %>
  </td>
  <td title="<%= data[:expense].created_at.strftime('%B %d, %Y %I:%M %p') %>" class="italic text-slate-500"><%= data[:expense].created_at.strftime('%A %d') %></td>
  <td title="<%= t("views.budget_periods.table.delete_expense") %>">
    <%= button_to budget_expense_transaction_path(data[:budget_period].uid, data[:expense]), method: :delete, data: { turbo: false } do %>
      <%= image_tag "bin.svg", alt: "more", class: "w-5" %>
    <% end %>
  </td>
</tr>
