<section>
  <h2 class="title mb-5 text-center"><%= @budget_period.display_period_full('/') %></h2>
  <div class="mb-5">
    <%= render "shared/breadcrumb_navigation", breadcrumbs: budget_period_breadcrumb_details(@budget_period) %>
  </div>
  <div class="mt-10 w-fit mx-auto card">
    <div class="p-5">
      <div class="mb-5 text-center">
        <p class="text-slate-400"><%= t('views.budget_periods.balance') %></p>
        <strong class="text-xl number <%= @budget_period.balance.positive? ? 'text-green-500' : 'text-rose-500' %>">
          <%= number_to_currency(@budget_period.balance) %>
        </strong>
      </div>
      <div class="flex items-center gap-5">
        <div class="text-center">
          <p class="text-slate-400"><%= t('views.transactions.income_short') %></p>
          <p class="text-xl number text-green-500"><%= number_to_currency(@budget_period.total_income) %></p>
        </div>
        <div class="text-center">
          <p class="text-slate-400"><%= t('views.transactions.expense_short') %></p>
          <p class="text-xl number text-rose-500"><%= number_to_currency(@budget_period.total_expenses) %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 w-fit mx-auto">
    <%= render "shared/link_group", links: budget_period_details_nav_links(@budget_period) %>
  </div>
  <div class="mt-5">
    <%= turbo_frame_tag "income_table" do %>
      <%= render "shared/table", table_columns: @income_table_columns, render_path: @income_render_path, rows: @income_rows %>
      <%= paginate @income_rows, param_name: :income_page %>
    <% end %>
  </div>
  <div class="mt-5">
    <%= turbo_frame_tag "expenses_table" do %>
      <%= render "shared/table", table_columns: @expense_table_columns, render_path: @expense_render_path, rows:  @expense_rows %>
      <%= paginate @expense_rows, param_name: :expense_page %>
    <% end %>
  </div>
</section>
