<section>
  <h2 class="title mb-5 text-center"><%= t("views.budget_periods.title_full") %></h2>
  <div class="mb-10">
    <%= render "shared/breadcrumb_navigation", breadcrumbs: [{ body: t("views.budget_periods.breadcrumbs.back_to_home"), path: root_path }] %>
  </div>
  <section class="mb-5 mx-0 md:mx-20 card overflow-x-hidden">
    <h3 class="title-2 px-5 mt-3 mb-5"><%= t("views.budget_periods.charts.title") %></h3>
    <div class="p-5 overflow-auto">
      <%= turbo_frame_tag "budget_periods_chart" do %>
        <%= line_chart @chart_history, legend: :bottom, colors: ["#0ea5e9", "#22c55e", "#f43f5e"] %>
      <% end %>
    </div>
  </section>
  <%= turbo_frame_tag "budgets_table" do %>
    <%= render "shared/table", table_columns: @table_columns, render_path: @render_path, rows: @rows %>
    <%= paginate @rows, param_name: :budgets_page %>
  <% end %>
</section>
