<span>
  ←&nbsp;<%= link_to "Budgets", budgets_path %>/<%= @budget_period.display_period_short(' ') %>
</span>
<h2><%= @budget_period.display_period_full('/') %></h2>
<%= link_to "Full details", "#{@budget_period.uid}/details" %>
<div class="text-center">
  <% @balance_summary.each do |summary| %>
    <div><%= summary[:label] %><%= summary[:data] %></div>
  <% end %>
</div>
<div class="grid grid-cols-3">
  <% @transaction_summary.each do |summary| %>
    <div><%= summary[:label] %><%= summary[:data] %></div>
  <% end %>
</div>
