<!DOCTYPE html>
<html>
  <head>
    <title>SaturnApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <div class="mx-auto lg:container lg:flex lg:gap-5 xl:gap-20">
      <% if user_signed_in? %>
        <div class="hidden lg:block">
          <%= render "shared/sidebar" %>
        </div>
      <% end %>
      <main class="<%= user_signed_in? ? '' : 'w-96' %> container mt-10 mx-auto px-2 pb-40 overflow-hidden">
        <%= yield %>
      </main>
    </div>
    <footer class="fixed w-full bottom-0 h-3">
      <div class="bg-lime-600 text-transparent">-</div>
    </footer>
  </body>
</html>
