<!DOCTYPE html>
<html>
  <head>
    <title>SaturnApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!--<div>
      <p><%= notice %></p>
      <p><%= alert %></p>
    </div>-->
    <% if user_signed_in? %>
      <header>
        <%= render "components/navbar" %>
      </header>
    <% end %>
    <main class="container mx-auto px-2">
      <%= yield %>
    </main>
  </body>
</html>
